<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AppTestPG</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4" defer></script>
</head>



<body class="bg-[#242424]">

    <div class="p-10">

        <nav class="flex flex-row gap-5">
            <a class="text-xl text-[whitesmoke]" href="/">AppTestPG</a>
            <ul class="flex flex-row gap-5">
                <li class="text-[#f5f5f594]">
                    <a class="text-[#f5f5f594]" href="/about">A propos</a>
                </li>
                <li class="text-[#f5f5f594]">
                    <a class="" href="/data">Données</a>
                </li>
                <li class="text-[#f5f5f594]">
                    <a class="" href="/livres">Livres</a>
                </li>
            </ul>
        </nav>
    </div>