<%- include("__header") -%>

<h1 class="px-10 text-3xl text-[whitesmoke]"><%= model.titre %></h1>

<ul class="px-10 text-[whitesmoke]">

  <% for (let i = 0; i < model.items.length; i++) { %>
    <li class="px-10 text-[whitesmoke]"><%= model.items[i] %></li>
  <% } %>

</ul>

<%- include("__footer") -%>