<%- include("__header") -%>

<h1 class="px-10 text-3xl text-[whitesmoke]">Données</h1>


<ul class="px-10 text-[whitesmoke]">

  <% for (let i = 0; i < model.length; i++) { %>
    <li class="px-10 text-[whitesmoke]"><%- model[i].id -%> |  <%= model[i].nom %></li>
  <% } %>

</ul>

<%- include("__footer") -%>