<%- include("__header") -%>

<h1 class="text-3xl font-bold text-[whitesmoke] p-10" >Bonjour <%- name -%></h1>
<h4 class="text-xl font-bold text-[#74ff74] px-10" >Vous êtes enregistrer</h4>

<%- include("__footer") -%>